.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bold;
}

.headline {
  font-size: xx-large;
  font-style: oblique;
}

.board {
  margin: auto;
  align-items: center;
}

.table {
  display: inline-block;
  verticle-align: middle;
  margin: auto;
  align-items: center;
}
